* {
  bg0     : #1a1c1e;
  bg1     : #141618;
  bg2     : #0e1012;
  bg3     : #2c2f32;

  fg0     : #c8cacc;
  fg1     : #a8aaac;
  fg2     : #909597;

  red     : #c0736b;
  green   : #7aaa82;
  yellow  : #c8a96a;
  blue    : #909597;
  magenta : #a09294;
  cyan    : #909597;

  accent  : #909597;
  urgent  : #c0736b;
}
